<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="events.tac.local.GenericCalloutServicesConfigurator, events.tac.local"/>
      <register serviceType="events.tac.local.Services.IGenericCalloutService, events.tac.local"
          implementationType="events.tac.local.Services.GenericCalloutService, events.tac.local" />
    </services>
  </sitecore>
</configuration>